<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} | AndroAssetter</title>
  <h1>Android Asset Resizer</h1>
  <h2>Make your android assets fit for each device size</h2>
  <h3>mdpi, hdpi, xhdpi, xxhdpi, xxxhdpi</h3>
  <h4 style="text-decoration: underline;"><b>Note:</b> Your source file is considered to be xxxhdpi, and other assets are created accordingly.</h4>
  <br>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
